<h1>TextMyPhone</h1>
<p>Hi <%= @user.name %>,</p>
<p>
Welcome to TextMyPhone! Click on the link below to activate your account:
</p>
<p>
https://text-my-phone.herokuapp.com//account_activations/<%= @user.activation_token %>/edit?email=<%= @user.email %>
</p>