<h3>Phone Number Verification</h3>
<%= form_with(url: phone_number_verification_path(@phone_number.id), method: "patch") do |f| %>
  <div class="container my-3">
    <div class="row align-items-start">
      <div class="col-sm-2">
        <%= f.label :code, "Enter code:" %>
      </div>
      <div class="col-sm-4 mb-4">
        <%= f.text_field :code, class: "form-control" %>
      </div>
      <div>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>