<h1>All Users</h1>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">User id</th>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Activation Digest</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>