<div class="container py-2">
  <div class="row">
    <div class="col">
      <div class="h3">My Phone Numbers</div>
    </div>
    <div class="col text-end">
      <%= link_to "Add New Number", new_user_phone_number_path(@user), class: "btn btn-primary" %>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Verified</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <%= render @user.phone_numbers %>
  </tbody>
</table>