<tr>
  <th scope="row"><%= link_to phone_number.number, user_phone_number_path(@user, phone_number) %></th>
  <td><%= phone_number.verified? ? bootstrap_icon("check", width: 20, height: 20, fill: "green") : bootstrap_icon("x", width: 20, height: 20, fill: "red")%></td>
  <td><%= link_to "Delete", user_phone_number_path(@user, phone_number), data: { "turbo-method": :delete,
  turbo_confirm: "Are you sure? You will lose all messages associated with this number." } %></td>
</tr>