<div class="h6"><%= @phone_number.number %></div>
<div class="container py-2">
  <div class="row">
    <div class="col">
      <div class="h3">Messages</div>
    </div>
    <div class="col text-end">
      <%= link_to "Send new message", new_user_phone_number_message_path(@user, @phone_number), class: "btn btn-primary" %>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Message id</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <tbody>
    <%= render @phone_number.messages %>
  </tbody>
</table>